{% extends "base.html" %}

{% block style_links %}
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="stylesheet" href="/static/styles/chats.css">
{% endblock %}

{% block content %}
<div id="main">
	<div class="user-list-block">
		<div class="user-controls">
			<div class="user-menu-container">
				<div class="user-menu-toggle">
					<div class="menu-icon"></div>
				</div>
				<div class="user-dropdown">
					<a href="/logout">Выйти</a>
				</div>
			</div>
			<div class="user-search-input-container">
				<input name="q" placeholder="Search users" autocomplete="off" id="user_search_input">
			</div>
		</div>
		<div id="userSearchResults"></div>
		<div class="chat-list">
			{% for chat in chats %}
			<div class="user-list-element" data-user-id="{{ chat.id }}">
				<div class="info">
					<div class="title">
						<h3 class="fullName">{{ chat.username }}</h3>
					</div>
					<div class="subtitle">
						<p class="last-message">
							{{ chat.last_message or "No messages yet" }}
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div id="chat-container" style="display: none">
		<div class="chat-info">
			<div id="chat-name-container">
				<h3 id="active-chat-name">Chat-Name</h3>
			</div>
		</div>

		<div id="chat-box" class="scroll-bar">
			
		</div>

		<form id="chat-form">
			<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
			<input type="text" id="msg-input" name="content" placeholder="Введите сообщение" required>
			<button type="submit">Send</button>
		</form>
	</div>
</div>

<script src="/static/scripts/user_search.js"></script>
<script src="/static/scripts/chat_panel.js"></script>
{% endblock %}